 <form id="form_<%=prod_id%>" accept-charset="UTF-8" action="" class="alerta" id="new_alerta" >

  <input type="hidden" value="<%=prod_id%>" name="produto[codigo]" class="prod_id" />
  <input type="hidden" value="<%=prod_price%>" name="tmp[price]" />
    <span class="valor">
      <p>
        <label for="alerta_valor_<%=prod_id%>">Quando estiver abaixo de R$: </label>
        <input id="alerta_valor_<%=prod_id%>" name="alerta[valor]" size="10" type="text" />
      </p>
      <% if prod_price != "0" %>
      <p>
        <label for="alerta_baixar_<%=prod_id%>">ou quando o preço baixar: </label>
        <input id="alerta_baixar_<%=prod_id%>" name="alerta[baixar]" type="checkbox" value="true" />
      </p>
    <% else %>
      <p>
        <label for="alerta_disponivel_<%=prod_id%>">ou quando estiver disponível: </label>
        <input id="alerta_disponivel_<%=prod_id%>" name="alerta[disponivel]" type="checkbox" value="true" checked="checked" />
      </p>

    <% end %>
    </span>
    me alerte por: 
    <br />

<% if current_user %>  
  <% @providers = [] %>
  <% current_user.authorizations.each do |a| %>
    <% @providers.push  a.provider %>
  <% end %>
    <% %w(twitter facebook).each do |provider| %>
      <% if @providers.include? provider %>
        <input id="alerta_<%=provider%>_<%=prod_id%>" name="alerta[<%=provider%>]" type="checkbox" value="true" />
        <label for="alerta_<%=provider%>_<%=prod_id%>">
          <%= image_tag "#{provider}_32.png", :size => "32x32", :alt => provider %>
          <%=provider%> 
        </label>
        <br />
      <% end %>
    <% end %>
    <input id="alerta_email_<%=prod_id%>" name="alerta[email]" type="checkbox" value="true" />
    <label for="user_email_<%=prod_id%>">email: </label>
    <% unless current_user.email.nil? or current_user.email.empty? %>  
      <input id="user_email_<%=prod_id%>" name="user[email]" size="40" type="text" value="<%=current_user.email%>" disabled="disabled" />    
    <% else %>
      <input id="user_email_<%=prod_id%>" name="user[email]" size="40" type="text" />
    <% end %>
<% else %>
  <%= link_to "", "/auth/twitter", :class => "twitter_login" , :alt => "Logar com Twitter"%>
  <%= link_to "", "/auth/facebook", :class => "facebook_login", :alt => "Logar com Facebook" %>
    <br />
    <input id="alerta_email_<%=prod_id%>" name="alerta[email]" type="checkbox" value="true" />
    <label for="user_email_<%=prod_id%>">email: </label>
    <input id="user_email_<%=prod_id%>" name="user[email]" size="40" type="text" />
<% end %>
  <p>
    <button type="submit">Enviar</button>
  </p>
</form>
  
