 <% if current_user %>
   <p>Olá <%= current_user.name %><p>
       <p>
         você está conectado com:

    <% @providers = [] %>
    <% current_user.authorizations.each do |a| %>
      <% @providers.push  a.provider %>
    <% end %>
  
  <% %w(twitter facebook google open_id yahoo).each do |provider| %>
    <% if @providers.include? provider %>
      <%= image_tag "#{provider}_32.png", :size => "32x32", :alt => provider %>
    <% end %>
  <% end %>
       </p>
  <p>Conecte também com:
  <% %w(twitter facebook google open_id yahoo).each do |provider| %>
    <% unless @providers.include? provider %>
      <%= link_to "", "/auth/#{provider}", :class => "#{provider}_login", :alt => "Logar com #{provider}" %>
    <% end %>
  <% end %>
  <p>
  <p>
    <%= link_to "Editar cadastro", authorizations_path %>
    <%= link_to "Sair", signout_path %>
  </p>
<% else %>
  Conecte com: &nbsp;
  <%= link_to "", "/auth/twitter", :class => "twitter_login" , :alt => "Logar com Twitter"%>
  <%= link_to "", "/auth/facebook", :class => "facebook_login", :alt => "Logar com Facebook" %>
  <%= link_to "", "/auth/google", :class => "google_login", :alt => "Logar com Google" %>
  <%= link_to "", "/auth/open_id", :class => "open_id_login", :alt => "Logar com OpenID" %>
  <%= link_to "", "/auth/yahoo", :class => "yahoo_login", :alt => "Logar com Yahoo" %>
<% end %>
