<%= form_for(@alerta) do |f| %>
  <% if @alerta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alerta.errors.count, "error") %> prohibited this alerta from being saved:</h2>

      <ul>
      <% @alerta.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :valor %><br />
    <%= f.text_field :valor %>
  </div>
  <div class="field">
    <%= f.label :produto_id %><br />
    <%= f.text_field :produto_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
