<p id="notice"><%= notice %></p>

<p>
  <b>Codigo:</b>
  <%= @produto.codigo %>
</p>

<p>
  <b>Url:</b>
  <%= @produto.url %>
</p>


<%= link_to 'Edit', edit_produto_path(@produto) %> |
<%= link_to 'Back', produtos_path %>
